@use "color";
@use "font";

$borderTheme: 2px solid;

.document {
    font-family: font.$fontTheme;

    &__border {
        &--first-section {
            border: 3px dashed color.$colorGreen;
        }
        &--second-section {
            border: $borderTheme color.$colorCoral;
        }
    }
    &__second-header--centered {
        text-align: center;
    }
    &__paragraph {
        &--blue {
            color: color.$colorBlue;
        }
        &--line-through {
            text-decoration: line-through;
        }
        &--right-align {
            text-align: right;
        }
    }
}

.document2 {
    &__box1--border {
        border: $borderTheme color.$colorBlack;
    }
    &__box-header {
        &--blue {
            color: color.$colorBlue;
        }
        &--font {
            font-family: font.$fontTheme;
            font-size: font.$boxHeader;
        }
    }
    &__box-par {
        &--red {
            color: color.$colorRed;
        }
        &--underln {
            text-decoration: underline;
        }
        &--font {
            font-family: font.$fontTheme;
            font-size: font.$boxPar;
        }
        &--coral {
            color: color.$colorCoral;
        }
        &--bold {
            font-weight: bold;
        }
        &--brown {
            color: color.$colorBrown;
        }
    }
    &__li {
        &--no-bullet {
            list-style-type: none;
            font-size: font.$listStyle;
        }
    }
}
